@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:400,600,700,800&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    
}
h1{
    color: #28377e;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
}
p{
    color: #b1b1b1;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.contaniner{
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.logo{
    width: 20%;
}
.nav{
    width: 60%;
}
.nav ul{

display: flex;

justify-content: flex-end;
}
.nav ul li{
    
margin-left: 30px;
}
.nav ul li a{

font-size: 18px;

color: #204f87;

font-weight: 600;
}
.banner{
    background-image: url(../img/banner.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
}
.content{
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.icon{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    animation: icon-ani 1s linear infinite;
    animation-direction: alternate;
}
.icon i{
    color: white;
    font-size: 24px;
}
.who_we_are_content{
    margin-top: 70px;
    width: 50%;
    float: left;
}
.who_we_are_content p{
    margin: 20px 0;
    padding-right: 100px;
}
.who_we_are h1{
    margin-top: 15px;
}
.who_we_are_img{
    width: 50%;
    float: right;
}
.who_we_are_img img{
    width: 50%;
}
@keyframes icon-ani{
    0%{
        transform: translate(-50%,0%);
    }
    100%{
        transform: translate(-50%, -100%);
    }
}
